<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增产品管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-product-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">产品名称：</label>
                <div class="col-sm-8">
                    <textarea name="productName" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">产品名称英文：</label>
                <div class="col-sm-8">
                    <textarea name="productNameEn" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">SKU：</label>
                <div class="col-sm-8">
                    <textarea name="sku" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">OE：</label>
                <div class="col-sm-8">
                    <textarea name="oe" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">重量：</label>
                <div class="col-sm-8">
                    <textarea name="zl" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">尺寸：</label>
                <div class="col-sm-8">
                    <textarea name="cc" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">车品牌：</label>
                <div class="col-sm-8">
                    <textarea name="cpp" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">适配型号：</label>
                <div class="col-sm-8">
                    <textarea name="spxh" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">起订量：</label>
                <div class="col-sm-8">
                    <textarea name="qdl" class="form-control"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">价格：</label>
                <div class="col-sm-8">
                    <textarea name="jg" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">满箱数：</label>
                <div class="col-sm-8">
                    <textarea name="mxs" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">满箱外箱尺寸：</label>
                <div class="col-sm-8">
                    <textarea name="mxwxcc" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">满箱毛重：</label>
                <div class="col-sm-8">
                    <textarea name="mxmz" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">计费重：</label>
                <div class="col-sm-8">
                    <textarea name="jfz" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="bz" class="form-control"></textarea>
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "product/product"
        $("#form-product-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-product-add').serialize());
            }
        }
    </script>
</body>
</html>