<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.supplier.mapper.SupplierMapper">
    
    <resultMap type="Supplier" id="SupplierResult">
        <result property="id"    column="id"    />
        <result property="gsm"    column="gsm"    />
        <result property="zycp"    column="zycp"    />
        <result property="lxr"    column="lxr"    />
        <result property="lxdh"    column="lxdh"    />
        <result property="wz"    column="wz"    />
        <result property="qq"    column="qq"    />
        <result property="wx"    column="wx"    />
        <result property="dz"    column="dz"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSupplierVo">
        select id, gsm, zycp, lxr, lxdh, wz, qq, wx, dz, create_time, update_time from supplier
    </sql>

    <select id="selectSupplierList" parameterType="Supplier" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        <where>  
            <if test="gsm != null  and gsm != ''"> and gsm like concat('%', #{gsm}, '%')</if>
            <if test="zycp != null  and zycp != ''"> and zycp like concat('%', #{zycp}, '%')</if>
            <if test="lxr != null  and lxr != ''"> and lxr like concat('%', #{lxr}, '%')</if>
            <if test="lxdh != null  and lxdh != ''"> and lxdh = #{lxdh}</if>
            <if test="wz != null  and wz != ''"> and wz = #{wz}</if>
            <if test="qq != null  and qq != ''"> and qq = #{qq}</if>
            <if test="wx != null  and wx != ''"> and wx = #{wx}</if>
            <if test="dz != null  and dz != ''"> and dz = #{dz}</if>
        </where>
    </select>
    
    <select id="selectSupplierById" parameterType="Long" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSupplier" parameterType="Supplier" useGeneratedKeys="true" keyProperty="id">
        insert into supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gsm != null  and gsm != ''">gsm,</if>
            <if test="zycp != null  and zycp != ''">zycp,</if>
            <if test="lxr != null  and lxr != ''">lxr,</if>
            <if test="lxdh != null  and lxdh != ''">lxdh,</if>
            <if test="wz != null  and wz != ''">wz,</if>
            <if test="qq != null  and qq != ''">qq,</if>
            <if test="wx != null  and wx != ''">wx,</if>
            <if test="dz != null  and dz != ''">dz,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gsm != null  and gsm != ''">#{gsm},</if>
            <if test="zycp != null  and zycp != ''">#{zycp},</if>
            <if test="lxr != null  and lxr != ''">#{lxr},</if>
            <if test="lxdh != null  and lxdh != ''">#{lxdh},</if>
            <if test="wz != null  and wz != ''">#{wz},</if>
            <if test="qq != null  and qq != ''">#{qq},</if>
            <if test="wx != null  and wx != ''">#{wx},</if>
            <if test="dz != null  and dz != ''">#{dz},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSupplier" parameterType="Supplier">
        update supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="gsm != null  and gsm != ''">gsm = #{gsm},</if>
            <if test="zycp != null  and zycp != ''">zycp = #{zycp},</if>
            <if test="lxr != null  and lxr != ''">lxr = #{lxr},</if>
            <if test="lxdh != null  and lxdh != ''">lxdh = #{lxdh},</if>
            <if test="wz != null  and wz != ''">wz = #{wz},</if>
            <if test="qq != null  and qq != ''">qq = #{qq},</if>
            <if test="wx != null  and wx != ''">wx = #{wx},</if>
            <if test="dz != null  and dz != ''">dz = #{dz},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplierById" parameterType="Long">
        delete from supplier where id = #{id}
    </delete>

    <delete id="deleteSupplierByIds" parameterType="String">
        delete from supplier where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>